{% extends "core/base_admin.html" %}
{% load static %}

{% block content %}
    <!-- Contenido de la pagina -->
      <div class="container">
        <h1 class="titulos" style="margin: 25px;">Mantenedor de Bodega</h1>
        <br>
        <div class="col-sm-12 col-md-6">
        <section>
          <form id="bodega">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="mb-3 fw-bold">
                  <label for="id" class="form-label titulos_2">Categoría</label>
                  <select class="form-select registro_color" style="color:black"  id="categoria" name="categoria">
                    <option value="" selected>Seleccione una categoría</option>
                    <option value="2">MOBA</option>
                    <option value="3">Acción</option>
                    <option value="4">Arcade</option>
                    <option value="5">Deportes</option>
                    <option value="6">Simulación</option>
                    <option value="7">Musical</option>
                    <option value="8">De mesa</option>
                </select>
                </div>
                <div class="mb-3 fw-bold">
                  <label for="id" class="form-label titulos_2">Nombre</label>
                  <select class="form-select registro_color" style="color:black" id="nombre" name="nombre">
                    <option value="" selected>Seleccione un nombre</option>
                    <option value="2">LOL</option>
                    <option value="3">Diablo lll</option>
                    <option value="4">Los sims 4</option>
                    <option value="5">Fifa</option>
                </select>
                </div>
                
                 <!-- Cantidad -->
                 <div class="mb-3 fw-bold">
                  <label for="cantidad" class="form-label titulos_2">Cantidad</label>
                  <input class="form-control registro_color" id="cantidad" name="cantidad" placeholder="Ej: 5" >
                </div>
              </div>
              <!--Foto de perfil-->
              <div class="col-sm-12 col-md-6">
                <table>
                    <tr>
                        <td>
                            <img id="user-image-preview image-bodega" src="{% static 'core/img/producto1.jpg' %}" alt="" class="user-image" style="max-width: 300px; margin-left: auto;">
                            <br><br>
                        </td>
                    </tr>
                </table>
            </div>
            
   
                </table>
            </div>
            &nbsp;
            <div class="btn-group" style="width: 20px;">
              <button type="update" class="btn boton_buscar_anonimo_2">Guardar</button>
              <button type="new" class="btn boton_buscar_anonimo_2" >Nuevo</button>
              <button type="delete" class="btn boton_buscar_anonimo_2" >Eliminar</button>
              <button id="id_btnLimpiar" type="reset" class="btn boton_buscar_anonimo_2" >Limpiar</button>
            </div>
            </div>
          </div>
        </form>
      </section>
    </div>
    <!--Tabla Productos-->
    <Section>
      <div class="container pt-2" >
        <section class="text-center" >
          <br><br>
          <table class="table table-bordered table-hover table-border"  style="background-color:#d55674; border-color: #d55674;">
            <thead > <!--cabeceras de la tabla-->
              <!--Titulos de la parte de arriba de la tabla -->
              <th scope="col" style="background-color:#ef89a1;"></th>
              <th scope="col" style="background-color:#ef89a1;">ID</th>
              <th scope="col" style="background-color:#ef89a1;" class="d-none d-lg-block d-lg-table-cell">Categoría</th> 
              <th scope="col" style="background-color:#ef89a1;">Nombre</th>
              <th scope="col" style="background-color:#ef89a1;">Estado</th>
              <th scope="col" style="background-color:#ef89a1;">Opciones</th>
            </thead>
            <tbody>
              <tr> <!--tr:filas  td:columnas-->
                  <td scope="row" style="background-color:#cb6e84;"></td>
                  <td scope="row" style="background-color:#cb6e84;">AEFS1243 </td>
                  <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">MOBA</td>
                  <td scope="col" style="background-color:#cb6e84;">League of Legends</td>
                  <td scope="col" style="background-color:#cb6e84;">Vendido</td>
                  <td scope="col" style="background-color:#cb6e84;">
                    <button type="delete" href="#" class="btn btn-primary btn-sm boton_buscar_anonimo_2">Eliminar</button>
                  </td>
              </tr>
              <tr> <!--tr:filas  td:columnas-->
                  <td scope="row" style="background-color:#cb6e84;"></td>
                  <td scope="row" style="background-color:#cb6e84;">AEFS1243 </td>
                  <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">MOBA</td>
                  <td scope="col" style="background-color:#cb6e84;" >League of Legends</td>
                  <td scope="col" style="background-color:#cb6e84;" >En Bodega</td>
                  <td scope="col" style="background-color:#cb6e84;">
                    <button type="delete" href="#" class="btn btn-primary btn-sm boton_buscar_anonimo_2">Eliminar</button>
                  </td>
              </tr>
              <tr> <!--tr:filas  td:columnas-->
                <td scope="row" style="background-color:#cb6e84;"></td>
                <td scope="row" style="background-color:#cb6e84;">AEFS1243 </td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">MOBA</td>
                <td scope="col" style="background-color:#cb6e84;" >League of Legends</td>
                <td scope="col" style="background-color:#cb6e84;" >Entregado</td>
                <td scope="col" style="background-color:#cb6e84;">
                 <button type="delete" href="#" class="btn btn-primary btn-sm boton_buscar_anonimo_2">Eliminar</button>
                </td>
              </tr>
              <tr> <!--tr:filas  td:columnas-->
                  <td scope="row" style="background-color:#cb6e84;"></td>
                  <td scope="row" style="background-color:#cb6e84;">AEFS1243 </td>
                  <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">MOBA</td>
                  <td scope="col" style="background-color:#cb6e84;" >League of Legends</td>
                  <td scope="col" style="background-color:#cb6e84;" >Anulado</td>
                  <td scope="col" style="background-color:#cb6e84; text-align: center;">
                    <button type="delete" href="#" class="btn btn-primary btn-sm boton_buscar_anonimo_2">Eliminar</button>
                  </td>
                </tr>
            </tbody>
          </table>
        </section>
      </div>
  </Section>

    <br><br>
    
{% endblock content %}