{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <br><br><br>
    <!-- Contenido principal de la pagina -->
    <h1 class="center titulos" style="text-align: center;">Ingresar</h1>
    <br><br>
    <form method="POST" id="formulario_iniciar" name="formulario_iniciar">
      {% csrf_token %}
        <div class="cuadro_login">
            <div class="mb-3 row">
                <label for="username" class="col-sm-4 col-form-label titulos">Cuenta</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" name="username" >
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-4 col-form-label titulos">Contraseña</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" name="passwosrd">
                </div>
            </div>
            <div class="mb-3 row">
                <button type="submit" class="btn btn-primary boton_ingresar">Ingresar</button>
            </div>
            <br>
            <h1>
              <p style="font-size: 15px;">
                <a class="color_footer" href="registro.html">Registrarse</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="color_footer" href="#">Olvidé mi contraseña</a>
              </p>
            </h1>
        </div>
    </form>
        
    <br><br><br><br><br>
{% endblock content %}
