{% extends "core/base_cli.html" %}
{% load static %}

{% block content %}
    <br>
    <!-- Contenido de la pagina -->
    <main role="main" >
      <div class="container pt-2" >
        <section class="text-center" >
          <h1 class="titulos">Mis Compras anteriores</h1>
          <br >
          <table class="table table-bordered table-hover table-border"  style="background-color:#d55674; border-color: #d55674;">
            <thead > <!--cabeceras de la tabla-->
              <!--Titulos de la parte de arriba de la tabla -->
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">Nro. Boleta</th>
              <th scope="col" style="background-color:#ef89a1">Fecha Venta</th> 
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">Fecha Despacho</th>
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">Fecha Entrega</th>
              <th scope="col" style="background-color:#ef89a1">Monto Total</th>
              <th scope="col" style="background-color:#ef89a1">Estado Actual</th>
              <th scope="col" style="background-color:#ef89a1">Opciones</th>
            </thead>
            <tbody>
              <tr> 
                <td scope="row" style="background-color:#cb6e84" class="d-none d-lg-block d-lg-table-cell">2345</td>
                <td scope="col" style="background-color:#cb6e84">01/01/2023</td>
                <td scope="col" style="background-color:#cb6e84" class="d-none d-lg-block d-lg-table-cell">01/01/2023</td>
                <td scope="col" style="background-color:#cb6e84" class="d-none d-lg-block d-lg-table-cell">01/01/2023</td>
                <td scope="col" style="background-color:#cb6e84">$15.000</td>
                <td scope="col" style="background-color:#cb6e84">Entregado</td>
                <td scope="col" style="background-color:#cb6e84"><a href="{% url 'boleta'%}" class="btn btn-primary boton_buscar_anonimo_2" scope="col">Ver Detalles</a>

          
              </tr>
            </tbody>

            <tbody>
              <tr> 
                <td scope="row" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">6756</td>
                <td scope="col" style="background-color:#cb6e84;">25/11/2023</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">25/11/2023</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">25/11/2023</td>
                <td scope="col" style="background-color:#cb6e84;">$300.000</td>
                <td scope="col" style="background-color:#cb6e84;">Despachado</td>
                <td scope="col" style="background-color:#cb6e84;"><a href="{% url 'boleta'%}" class="btn btn-primary boton_buscar_anonimo_2" scope="col">Ver Detalles</a>
              </tr>
            </tbody>

            <tbody>
              <tr> 
                <td scope="row" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">3453 </td>
                <td scope="col" style="background-color:#cb6e84;">18/03/2024</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">18/02/2024</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">18/02/2024</td>
                <td scope="col" style="background-color:#cb6e84;">$25.000</td>
                <td scope="col" style="background-color:#cb6e84;">Vendido</td>
                <td scope="col" style="background-color:#cb6e84;"><a href="{% url 'boleta'%}" class="btn btn-primary boton_buscar_anonimo_2" scope="col" >Ver Detalles</a>
              
              </tr>
            </tbody>

            <tbody>
              <tr> 
                <td scope="row" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">5435 </td>
                <td scope="col" style="background-color:#cb6e84;">27/03/2024</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">27/03/2024</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">27/03/2024</td>
                <td scope="col" style="background-color:#cb6e84;">$1.000.000</td>
                <td scope="col" style="background-color:#cb6e84;">Anulado</td>
                <td scope="col" style="background-color:#cb6e84;"><a href="{% url 'boleta'%}" class="btn btn-primary boton_buscar_anonimo_2" scope="col" >Ver Detalles</a>
                  
              </tr>
            </tbody>

            <tbody>
              <tr> 
                <td scope="row" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">9871 </td>
                <td scope="col" style="background-color:#cb6e84;">03/04/2024</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">03/04/2024</td>
                <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">03/04/2024</td>
                <td scope="col" style="background-color:#cb6e84;">$5.000</td>
                <td scope="col" style="background-color:#cb6e84;">Entregado</td>
                <td scope="col" style="background-color:#cb6e84;"><a href="{% url 'boleta'%}" class="btn btn-primary boton_buscar_anonimo_2" scope="col">Ver Detalles</a>

                  

                </td>
              </tr>
            </tbody>
            
          </table>
        </section>
      </div>
    </main>
    
    <br><br><br><br><br><br><br><br><br><br>
    
{% endblock content %}