{% extends "core/base_cli.html" %}
{% load static %}

{% block content %}
    <br>
     <!-- Contenido de la pagina -->
     <main role="main">
        <div class="container" style="margin-right: 10px;">
          <section>
            <h1 class="titulos" style="margin: 25px;">Mis Datos</h1>
            <br>
            <form method="POST" id="formulario-registro" class="row g-3 needs-validation" action="/registrar_usuario"> <!--van todos los controles graficos para poder registrar al cliente-->
              <div class="container-fluid">
                <div class="row">
  
                  <!--Campos del registro del usuario-->
                  <div class="col-sm-12 col-md-6">
                    <!--RUT-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="rut" class=" titulos_2">RUT</label>
                      <input type="text" class="form-control registro_color" id="rut" name="rut" 
                      placeholder="12.345.678-k" value=""/>
                    </div> 
                    <!--Nombres-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="nombres" class=" titulos_2">Nombres</label>
                      <input type="text" class="form-control registro_color" id="nombres" name="nombres" 
                      placeholder="Ana" value=""/>
                    </div>
                    <!--Apellidos-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="apellidos" class="titulos_2">Apellidos</label>
                      <input type="text" class="form-control registro_color" id="apellidos" name="apellidos"
                      placeholder="Torres" value=""/>
                    </div>
                    <!--Correo-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="email" class="titulos_2">Correo electrónico</label>
                      <input type="email" class="form-control registro_color" id="correo" name="correo" 
                      placeholder="a.torres@duocuc.cl" value=""/>
                    </div>
                    <!--Direccion-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="direccion" class="titulos_2">Dirección</label>
                      <textarea type="direccion" class="form-control registro_color" id="direccion" name="direccion"  
                      placeholder="San Juan Bautista 423, Santiago Centro, Región Metropolitana" value=""></textarea>
                    </div>
                    <!--Subscripcion-->
                    <div class="mb-3" form-check >
                      <input class="form-check-label" type="checkbox" value="" id="subscripcion" >
                      <label class="form-check-label" for="subscripcion" >
                        <strong class="titulos_2">
                        Subscribirme a la fundación
                        </strong>
                      </label>
                      <div id="subscripcionhelp" class="titulos_2" >
                        Deseo subscribirme con un aporte de $3.000 mensuales y obtener un 5% de descuento  en mis compras
                      </div>
                    </div>
                    <!--Password-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="password" class="titulos_2">Contraseña</label>
                      <input type="password" class="form-control registro_color" id="password" name="password"
                      placeholder="*************"  value=""/>
                    </div>
                    <!--Password2-->
                    <div class="form-group mb-3 fw-bold">
                      <label for="password2" class="titulos_2">Repetir Contraseña</label>
                      <input type="password" class="form-control registro_color" id="password2" name="password2"
                      placeholder="*************"  value=""/>
                    </div>
                  </div>
                  
                  <br><br>
                  <!--Foto de perfil-->
                  <div class="col-sm-12 col-md-6">
                    <table>
                        <tr>
                            <td>
                                <img id="user-image-preview" src="{% static 'core/img/foto_usuario.jpg' %}" alt="" class="user-image" style="max-width: 300px;">
                                <br><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="file" id="upload-image" class="form-control boton_buscar_anonimo_2 ">
                            </td>
                        </tr>
                    </table>
                    &nbsp;
                    <h1>
                      <p style="font-size: 15px;" >
                        <a class="titulos_2" href="ingresar.html">¿Ya tienes una cuenta?</a>
                      </p>
                    </h1>
                </div>
                
              </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="btn-group" style="width: 20px;">
                  <button id="id_btnEnviar" type="submit" class="btn btn-primary btn-ancho-fijo boton_buscar_anonimo_2" >Guardar</button>
                  <button id="id_btnLimpiar" type="reset" class="btn btn-secondary btn-ancho-fijo boton_buscar_anonimo_2" >Limpiar</button>
                </div>
            </form>
        </section>
      </div>
    </main>

    <br><br>
    
{% endblock content %}