{% extends "core/base_admin.html" %}
{% load static %}

{% block content %}
    <br><br>
    <!-- Contenido de la pagina -->
    <Section>
      <div class="container" >
        <section>
          <h1 class="titulos" style="margin: px;">Mantenedor de Usuarios</h1>
          <br>
          <form method="POST" id="Registro" class="row g-3 needs-validation" action="/registrar_usuario"> 
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-md-6">


          <!-- Campos de registro de usuario -->
          <div class="mb-3 fw-bold">
              <label for="id" class="form-label titulos_2">ID</label>
              <input type="text" class="form-control registro_color" id="id" name="id" placeholder="Ej: 58" >
              
          </div>
          
          <!-- RUT -->
          
          <div class="mb-3 fw-bold">
            <label for="rut" class="form-label titulos_2">RUT</label>
            <input type="text" class="form-control registro_color" id="rut" name="rut" 
            placeholder="Ej: 12345678-5 (sin puntos y con guión)" value=""/>
        </div>
        

          <!-- Casillas -->
          <br>

          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="tipo" value="option1">
              <label class="form-check-label titulos_2" for="inlineRadio1">Cliente</label>
          </div>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tipo" id="tipo" value="option2">
              <label class="form-check-label titulos_2" for="inlineRadio2">Usuario</label>
          </div>
          <div id="tipo-error" class="error-text"></div>

          <!-- Nombres -->
          <br><br>

          <div class="form-group mb-3 fw-bold">
            <label for="nombres" class=" titulos_2">Nombres</label>
            <input type="text" class="form-control registro_color" id="nombres" name="nombres" 
            placeholder="Ej: Juan Pablo" value=""/>
          </div>

          <!-- Apellidos -->

          <div class="form-group mb-3 fw-bold">
            <label for="apellidos" class="titulos_2">Apellidos</label>
            <input type="text" class="form-control registro_color" id="apellidos" name="apellidos"
            placeholder="Ej: Muñoz Salinas" value=""/>
          </div>
          <!-- Correo -->

          <div class="form-group mb-3 fw-bold">
            <label for="email" class="titulos_2">Correo electrónico</label>
            <input type="email" class="form-control registro_color" id="correo" name="correo" 
            placeholder="Ej: jperez@gmail.com" value=""/>
          </div>

          <!-- Dirección -->

          <div class="form-group mb-3 fw-bold">
            <label for="direccion" class="titulos_2">Dirección</label>
            <textarea type="direccion" class="form-control registro_color" id="direccion" name="direccion"  
            placeholder="Ej: La moneda, 543, Santiago, Chile" value=""></textarea>
          </div>
        <br>

         <!-- Check -->

         <div class="mb-3" form-check >
          <input class="form-check-label" type="checkbox" value="" id="subscripcion" >
          <label class="form-check-label" for="subscripcion" >
            <strong class="titulos_2">
            Subscribirme a la fundación
            </strong>
          </label>
          <div id="subscripcionhelp" class="titulos_2" >
            Deseo subscribirme con un aporte de $3.000 mensuales y obtener un 5% de descuento  en mis compras
          </div>

        </div>
         <!-- Constraseña -->
         <br> 
          </div>
              <br>
              <!--Foto de perfil-->
              <div class="col-sm-12 col-md-6">
                <table>
                    <tr>
                        <td>
                            <img id="user-image-preview" src="{% static 'core/img/user.png' %}" alt="" class="user-image" style="width: 400px;">
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" id="upload-image" class="form-control boton_buscar_anonimo_2 ">
                        </td>
                    </tr>
                </table>
              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              <!-- Botones -->
              <div class="btn-group" style="width: 20px;">
                <button type="update" class="btn boton_buscar_anonimo_2">Guardar</button>
                <button type="update" class="btn boton_buscar_anonimo_2" >Agregar</button>
                <button type="reset" class="btn boton_buscar_anonimo_2">Eliminar</button>
                <button id="id_btnLimpiar" type="reset" class="btn boton_buscar_anonimo_2" >Limpiar</button>
            </div>
            <div> 
              <br>
              <button type="button" class="btn boton_ver_detalle">Generar Contraseña</button>
            </div>
              </div>
            </div>
          </form>
        </section>
      </div>
  </Section>

  &nbsp;
  <!--Tabla Productos-->
  <Section>
    <div class="container pt-2">
      <section class="text-center">
        
        <table class="table table-bordered table-hover table-border" style="background-color:#d55674; border-color: #d55674;">
          <thead>
            <tr>
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">ID</th>
              <th scope="col" style="background-color:#ef89a1">Tipo de Usuario</th>
              <th scope="col" style="background-color:#ef89a1">RUT</th>
              <th scope="col" style="background-color:#ef89a1">Nombre</th>
              <th scope="col" style="background-color:#ef89a1">Apellidos</th>
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">Correo</th>
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">Dirección</th>
              <th scope="col" style="background-color:#ef89a1">Con Subscripción</th>
              <th scope="col" style="background-color:#ef89a1" class="d-none d-lg-block d-lg-table-cell">Foto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">1</td>
              <td scope="col" style="background-color:#cb6e84;">Cliente</td>
              <td scope="col" style="background-color:#cb6e84;">12345678-0</td>
              <td scope="col" style="background-color:#cb6e84;">Juan</td>
              <td scope="col" style="background-color:#cb6e84;">Pérez</td>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">juanperez@example.com</td>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">Calle Falsa 123</td>
              <td scope="col" style="background-color:#cb6e84;">Sí</td>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell"><img src="{% static 'core/img/perfil_usuario.webp' %}" alt="Foto" style="width: 50px;"></td>
            </tr>
            <tr>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">2</td>
              <td scope="col" style="background-color:#cb6e84;">Usuario</td>
              <td scope="col" style="background-color:#cb6e84;">98765432-K</td>
              <td scope="col" style="background-color:#cb6e84;">María</td>
              <td scope="col" style="background-color:#cb6e84;">López</td>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">marialopez@example.com</td>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell">Avenida Principal 456</td>
              <td scope="col" style="background-color:#cb6e84;">No</td>
              <td scope="col" style="background-color:#cb6e84;" class="d-none d-lg-block d-lg-table-cell"><img src="{% static 'core/img/perfil_usuario.webp' %}" alt="Foto" style="width: 50px;"></td>
            </tr> 
            <!-- Pueden agregar más filas con datos aleatorios según sea necesario -->
          </tbody>
        </table>
      </section>
    </div>
  </Section>
      

    <br><br>

{% endblock content %}